@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.banner{
    padding-bottom: 108px;
    background-color: #4F60E1;
    padding-top: 44px;
}
.content-word{
    display: flex;
}
.banner .white{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -0.01em;
    color: #ffffff;
}
.banner .oren{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -0.01em;
    color: #FFB3A6;
}
.banner p{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}
.btn-banner{
    width: 262px;
    height: 56px;
    margin-top: 16px;
    background-color: #FFB3A6;
    color: #272E67;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.howtowork{
    padding-bottom: 198px;
    padding-top: 24px;
}
.howtowork h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #272E67;
}
.biru-laut{
    color: #4F60E1;
}
.howtowork .row1{
    margin-top: 102px;
}
.howtowork .circle{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #F4F7FE;
    padding: 30px;
}
.howtowork p{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.howtowork .bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.deliver{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #4F60E1;
}
.deliver h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
}
.deliver p{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}
.deliver .btn-deliver{
    width: 262px;
    height: 56px;
    margin-top: 16px;
    background-color: #FFB3A6;
    color: #272E67;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.superiority{
    padding-top: 24px;
    padding-bottom: 173px;
    background-color: #F4F7FE;
}
.superiority h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #272E67;
}
.superiority .row1{
    margin-top: 140px;
}
.superiority h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #272E67;
    text-align: center;
    padding-top: 8px;
}
.superiority p{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
}
.prices{
    padding-top: 132px;
    padding-bottom: 132px;
    background-color: #ffffff;
}
.prices .row{
    gap: 128px;
}
.prices h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #272E67;
}
.prices .square{
    max-width: 360px;
    height: 360px;
    background-color: #F4F7FE;
    border-radius: 16px;
}
.prices .square-header{
    width: 100%;
    height: 56px;
    background-color: #FFB3A6;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.prices .content{
    padding-top: 56px;
    padding-left: 8px;
    padding-right: 8px;
}
.prices h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #4F60E1;
}
.prices p{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}
.testimoni{
    padding-top: 132px;
    padding-bottom: 132px;
    background-color: #4F60E1;
}
.testimoni h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
}
.testimoni .oren{
    color: #FFB3A6;
}
.testimoni .text img{
    margin-left: 223px;
}
.testimoni .square{
    max-width: 360px;
    height: 360px;
    background-color: #ffffff;
    border-radius: 16px;
}
.testimoni .square-header{
    width: 100%;
    height: 56px;
    background-color: #272E67;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.testimoni .pp img{
    margin-top: -40px;
}
.testimoni p{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
}
.testimoni .star img{
    margin-top: 48px;
}
.testimoni .name{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4F60E1;
    margin-top: 8px;
    text-align: center;
}

@media only screen and (max-width: 320px) {
    .testimoni .square{
        max-width: 360px;
        height: 380px;
        background-color: #ffffff;
        border-radius: 16px;
    }
}
